@media only screen and (min-width: 740px) and (max-width: 1023px) {
  /* -------------------------HEADER----------------------- */

  .main-body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .frame1 {
      display: none;
    }
  }

  nav .nav-list {
    display: none;
    position: fixed;
    width: 800px;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 80px;
    top: 120px;
  }
  nav .navbar-toggler {
    display: grid !important;
  }

  /* <!--------- MAIN SERVICES ----------------> */
  .main-services {
    width: 80%;
  }
  .main-services-card {
    margin-top: 40px;
    margin-bottom: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 40px;
  }
  /* <!-- ----------------ABOUT US------------------- --> */
  .about-us {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .ab-image {
      display: none;
    }
    .ab-text {
      flex-direction: column;
    }
  }

  /* <!-- ---------PROFESSIONAL TEAM---------- --> */
  .professional {
    width: 80%;
  }
  .professional-card {
    flex-direction: column;
    .pf-card-mid {
      margin-top: 50px;
      margin-bottom: 50px;
    }
  }

  /* --------------CONTACT US--------------- */

  .contact-us {
    width: 80%;
    flex-direction: column;
    align-items: center;
    .ct-left {
      display: none;
    }
  }
  /* --------------FOOTER--------------- */

  .footer {
    width: 80%;
    .ft-right {
      column-gap: 20px;
    }
    .pages li,
    .info li {
      padding-top: 0.2rem;
    }
  }
  .end {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    .social-media {
      padding-bottom: 30px;
      column-gap: 100px;
    }
  }
}
